* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: "EB Garamond", serif;
    background: #ccc;
}
.wrapper {
    width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
section:after {
    content: " ";
    display: block;
    clear: both;
}

/* Common style */

header {
    background: #111;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
header div.logo {
    width: 50%;
    float: left;
}
header nav {
    width: 50%;
    float: right;
}
header div.logo h1 {
    text-align: center;
    font-size: 170%;
    margin: 1%;
}
header div.logo h1 #span1 {
    color: #ff7f50;
    font-style: italic;
}
header div.logo h1 #span2 {
    color: #ccc;
}
header nav ul li a {
    color: #aaa;
}
header nav ul {
    width: 100%;
    margin: 2% auto;
    text-align: center;
}
header nav ul li {
    margin-left: 5%;
    display: inline;
}
header nav ul li a:hover {
    color: white;
}
header nav ul li a.active {
    border-bottom: 1px solid #aaa;
}
/* End Header */

section.first-section {
    position: relative;
    min-height: 600px;
    background: url(images/bg.jpg) no-repeat 30% 10%;
    background-size: cover;
}
section.first-section h2 {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 40%;
    text-align: center;
    color: #ff7f50;
    font-size: 300%;
}
/* end first section */
section.second-section {
    background-color: black;    
}
section.second-section form{
    text-align: center;
}
section.second-section form input {
    padding: 5px 10px;
    margin: 2% 0;
    font-size: 90%;
}
section.second-section form input[type="email"] {
    background-color: #ccc;
}
section.second-section form input[type="email"]:focus {
    background-color: #eee;
}
section.second-section form input[type="submit"] {
    background-color: #ff7f50;
    color: #333;
}
section.second-section form input[type="submit"]:hover {
    background-color: #dd4d20;
}
/* end of second section */

section.third-section img {
    width: 50%;
    float: left;
    padding: 5% 0;
    background: #ccc;
}
footer {
    background: black;
}
footer p {
    text-align: center;
    padding: 2% 0;
    font-style: italic;
    font-size: 140%;
    color: #ccc
}
/* start about us */
section.aboutus {
    padding: 3% 0;
}
section.aboutus h2 {
    text-align: center;
    margin-bottom: 3%;
    color: #555;
}
section.aboutus div {
    width: 33.33%;
    float: left;
}
section.aboutus div img {
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 50%;
}
section.aboutus div p {
    width: 60%;
    margin: auto;
    text-indent: 15px;
    text-align: justify;
    font-style: italic;
    color: #333;
}
section.aboutus p::first-letter {
    font-size: 200%;
}

/* start services */

section.services {
    max-width: 1200px;
    margin: auto;
}
section.services div {
    width: 27.33%;
    max-width: 350px;
    min-height: 300px;
    margin: 2%;
    float: left;
    background: #eee;
    padding: 1%;
    border-radius: 15px;
}
section.services div h2 {
    text-align: center;
    margin-bottom: 3px;
    color: #fff;
    border-radius: 10px;
}
section.services div p {
    text-align: center;
    font-size: 110%;
    border-radius: 10px;
    color: #fff;
    font-style: italic;
}
section.services div ul {
    width: 90%;
    margin: 3% auto;
    color: #555;
}
section.services div ul li:before {
    content: url(images/check.png);
    margin-right: 5px;
}
section.services div h3 {
    width: 30%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: white;
}
section.services div.starter h2,
section.services div.starter p,
section.services div.starter h3 {
    background: #555;
}
section.services div.enhanced h2,
section.services div.enhanced p,
section.services div.enhanced h3 {
    background: #333;
}
section.services div.standard h2,
section.services div.standard p,
section.services div.standard h3 {
    background: #555;
}

/* responsive */
@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    header div.logo {
        width: 100%;
        float: none;
    }
    header nav {
        width: 100%;
        float: none;
    }
    header nav ul li:first-child {
        margin-left: 0;
    }
    /* end navigation */

    section.second-section form input {
        padding: 2px 4px;
    }
    /* end second section */

    section.third-section img {
        width: 100%;
        float: none;
        display: block;
    }
    /* end third section */

    footer p {
        font-size: 120%;
    }
    /* end footer */
    /* end home */

    section.aboutus div {
        width: 100%;
        float: none;
    }
    section.aboutus div img {
        width: 90%;
        margin: 8% auto 2% auto;
    }
    section.aboutus div p {
        width: 90%;
    }
    /* end aboutus */

    section.services div {
        width: 90%;
        margin: 4% auto 2% auto;
        float: none;
    }
    /* end services */

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header nav ul li:first-child{
        margin-left: 0;
    }
    section.aboutus {
        padding: 5% 0;
    }
    section.aboutus div img {
        width: 90%;
    }
    section.aboutus div p {
        width: 90%
    }
    section.services div {
        width: 31.33%;
        margin: 1%;
        padding: 0;
    }
    section.services div ul {
        width: 100%;
    }
}